body {
	font-family: sans-serif, Helvetica, Arial;
	font-size: 20px;
}

.word-wrapper {
    width: 1100px;
    height: 250px;
    position: absolute;
    text-align: center;
}

.center {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.horizontal {
    position: fixed;
    left: 0;
    top: 50px;
}

.letter-wrapper-quote-open {
    top: -100px;
    left: 0px;
    position: relative;
}

.letter-wrapper-one {
    top: 0px;
    left: 200px;
    position: relative;
}

.letter-wrapper-two {
    top: 0px;
    left: 350px;
    position: relative;
}

.letter-wrapper-three {
    top: 0px;
    left: 525px;
    position: relative;
}

.letter-wrapper-four {
    top: 0px;
    left: 650px;
    position: relative;
}

.letter-wrapper-five {
    top: 0px;
    left: 825px;
    position: relative;
}

.letter-wrapper-six {
    top: 0px;
    left: 1030px;
    position: relative;
}


