body {
    background-color: #000000;
}

.wrapper {
    width: 800px;
    height: 100px;
    margin: 250px 300px auto 360px;
}

.shapeone {
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    position: relative;
    margin: 20px 0 50px 0;
    float: left;
}

.shapeone:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #E6E6E6 transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}

.shapetwo {
    border-style: solid;
    border-color: transparent transparent #CCCCCC transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    position: relative;
    margin: 20px 0 50px 0;
    float: left;
}

.shapetwo:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #B2B2B2 transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}

.shapethree {
    border-style: solid;
    border-color: transparent transparent #999999 transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    position: relative;
    margin: 20px 0 50px 0;
    float: left;
}

.shapethree:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #808080 transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}

.shapefour {
    border-style: solid;
    border-color: transparent transparent #666666 transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    position: relative;
    margin: 20px 0 50px 0;
    float: left;
}

.shapefour:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #4D4D4D transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}

.shapefive {
    border-style: solid;
    border-color: transparent transparent #333333 transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    position: relative;
    margin: 20px 0 50px 0;
    float: left;
}

.shapefive:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #191919 transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}

.hidden {
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    position: relative;
    margin: 20px 0 50px 0;
    float: left
}

.hidden:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}

.r1 {
    margin: 70px 0 auto 250px;
}

.r2 {
    margin: 100px 0 auto 400px;
}

.r3 {
    margin: 70px 0 auto 250px;
}

.containerone {
    width: 600px;
    height: 300px;
    margin: 0 0 0 500px;
    background-color: #f0f;
    position: absolute;
    visibility: hidden;
}

.shapeone:hover .containerone {
    visibility: visible;
}

