body {
    background-color: #000000;
}

.wrapper {
    width: 800px;
    height: 100px;
    margin: 250px 350px auto 350px;
}

.shapeone {
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    position: relative;
    margin: 20px 0 50px 0;
    float: left;
}

.shapeone:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #E6E6E6 transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}

.shapetwo {
    border-style: solid;
    border-color: transparent transparent #CCCCCC transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    position: relative;
    margin: 20px 0 50px 0;
    float: left;
}

.shapetwo:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #B2B2B2 transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}

.shapethree {
    border-style: solid;
    border-color: transparent transparent #999999 transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    position: relative;
    margin: 20px 0 50px 0;
    float: left;
}

.shapethree:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #808080 transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}

.shapefour {
    border-style: solid;
    border-color: transparent transparent #666666 transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    position: relative;
    margin: 20px 0 50px 0;
    float: left;
}

.shapefour:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #4D4D4D transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}

.shapefive {
    border-style: solid;
    border-color: transparent transparent #333333 transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    position: relative;
    margin: 20px 0 50px 0;
    float: left;
}

.shapefive:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #191919 transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}

.hidden {
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    position: relative;
    margin: 20px 0 50px 0;
    float: left
}

.hidden:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}

.r1 {
    margin: 70px 0 auto 250px;
}

.r2 {
    margin: 100px 0 auto 400px;
}

.r3 {
    margin: 70px 0 auto 250px;
}

.containerone {
    width: 600px;
    height: 300px;
    margin: -80px -50px 100px 200px;
    position: absolute;
    visibility: hidden;
}

.shapeone:hover .containerone {
    visibility: visible;
}

.containertwo {
    width: 600px;
    height: 300px;
    margin: -270px 300px 0 -500px;
    position: absolute;
    visibility: hidden;
}

.shapetwo:hover .containertwo {
    visibility: visible;
}

.containerthree {
    width: 600px;
    height: 300px;
    margin: -300px 150px 400px -100px;
    position: absolute;
    visibility: hidden;
}

.shapethree:hover .containerthree {
    visibility: visible;
}

.containerfour {
    width: 600px;
    height: 300px;
    margin: 10px 500px 500px -500px;
    position: absolute;
    visibility: hidden;
}

.shapefour:hover .containerfour {
    visibility: visible;
}

.containerfive {
    width: 600px;
    height: 300px;
    margin: 0 300px 0 -200px;
    position: absolute;
    visibility: hidden;
}

.shapefive:hover .containerfive {
    visibility: visible;
}

.test {
    width: 50px;
    height: 50px;
    background-color: hsla(119, 100%, 64%, 1);
    animation-name: colorChange;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    -webkit-animation-name: colorChange;
    -webkit-animation-duration: 3s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
}

/*.ranbow {*/
/*-webkit-animation:rainbow 1s infinite;*/
/*-ms-animation:rainbow 1s infinite;*/
/*-o-animation:rainbow 1s infinite;*/
/*animation:rainbow 1s infinite;*/
/*}*/
/*@-webkit-keyframes rainbow {*/
/*0% {color: #ff0000;}*/
/*10% {color: #ff8000;}*/
/*20% {color: #ffff00;}*/
/*30% {color: #80ff00;}*/
/*40% {color: #00ff00;}*/
/*50% {color: #00ff80;}*/
/*60% {color: #00ffff;}*/
/*70% {color: #0080ff;}*/
/*80% {color: #0000ff;}*/
/*90% {color: #8000ff;}*/
/*100% {color: #ff0080;}*/
/*}*/
/*@-ms-keyframes rainbow {*/
/*0% {color: #ff0000;}*/
/*10% {color: #ff8000;}*/
/*20% {color: #ffff00;}*/
/*30% {color: #80ff00;}*/
/*40% {color: #00ff00;}*/
/*50% {color: #00ff80;}*/
/*60% {color: #00ffff;}*/
/*70% {color: #0080ff;}*/
/*80% {color: #0000ff;}*/
/*90% {color: #8000ff;}*/
/*100% {color: #ff0080;}*/
/*}*/
/*@-o-keyframes rainbow {*/
/*0% {color: #ff0000;}*/
/*10% {color: #ff8000;}*/
/*20% {color: #ffff00;}*/
/*30% {color: #80ff00;}*/
/*40% {color: #00ff00;}*/
/*50% {color: #00ff80;}*/
/*60% {color: #00ffff;}*/
/*70% {color: #0080ff;}*/
/*80% {color: #0000ff;}*/
/*90% {color: #8000ff;}*/
/*100% {color: #ff0080;}*/
/*}*/
/*@keyframes rainbow {*/
/*0% {color: #ff0000;}*/
/*10% {color: #ff8000;}*/
/*20% {color: #ffff00;}*/
/*30% {color: #80ff00;}*/
/*40% {color: #00ff00;}*/
/*50% {color: #00ff80;}*/
/*60% {color: #00ffff;}*/
/*70% {color: #0080ff;}*/
/*80% {color: #0000ff;}*/
/*90% {color: #8000ff;}*/
/*100% {color: #ff0080;}*/
/*}*/

