        h1 { 
           font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
           color: #BEBEBE;
           font-weight: lighter;  
           font-size: 40px;
         }
         
         h2 {
           font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
           font-weight: lighter;  
           font-size: 20px;
         }
         
         h3 {
           font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
           font-weight: lighter;  
           font-size: 20px;
         }
        
        a:link {
         color: #6600FF;
        }
        
        a:hover {
        color: #BEBEBE;
        }
        
        a:visited {
        background-color: none;
        }
 
.image {
    padding: none;
    border: none;
    background-repeat: no-repeat;
}

.column {
    display: inline-block;
}

.tree-1 {
    border-left: 50px;
    border-top: 300px;
}

