body {
	font-family: sans-serif, Helvetica, Arial;
	font-size: 20px;
	background-color: #B2B2B2;
	width: 100%;
	height: 100%;
}

.message {
background: #B2B2B2;
color:#fff;
position: absolute;
top: -250px;
left: 0;
width: 100%;
height: 250px;
padding: 20px;
transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
overflow: hidden;
box-sizing: border-box;
  
}

#toggle {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;
}

#toggle + label {
  position:absolute;
  cursor:pointer;
  padding:10px;
  background: #000;
width: 100px;
border-radius: 3px;
padding: 8px 10px;
color: #FFF;
line-height:20px;
font-size:12px;
text-align:center;
-webkit-font-smoothing: antialiased;
cursor: pointer;
  margin:0px 0px;
  transition:all 500ms ease;
}

#toggle:checked ~ .message {
  top: 0;
}

#toggle:checked ~ .container {
  margin-top: 300px;
}

#toggle:checked + label {
  /*background:#dd6149;*/
  background: #fff;
}









.box-one {
    top: 0px;
    left: 0px;
}

.sentence-wrapper {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.center {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.letter-wrapper-quote-open {
    top: -100px;
    left: 0px;
    position: relative;
}

.letter-wrapper-quote-closed {
    top: -100px;
    left: 250px;
    position: relative;
}

.word-wrapper-things {
    width: 500px;
    height: 250px;
    position: absolute;
    top: 50px;
    left: 0px;
}

.letter-wrapper-things-t {
    top: 0px;
    left: 200px;
    position: relative;
}

.letter-wrapper-things-h {
    top: 0px;
    left: 350px;
    position: relative;
}

.letter-wrapper-things-i {
    top: 0px;
    left: 525px;
    position: relative;
}

.letter-wrapper-things-n {
    top: 0px;
    left: 650px;
    position: relative;
}

.letter-wrapper-things-g {
    top: 0px;
    left: 825px;
    position: relative;
}

.letter-wrapper-things-s {
    top: 0px;
    left: 1030px;
    position: relative;
}

.word-wrapper-are {
    width: 500px;
    height: 250px;
    position: absolute;
    top: 50px;
    left: 0px;
}

.letter-wrapper-are-a {
    top: 275px;
    left: 0px;
    position: relative;
}

.letter-wrapper-are-r {
    top: 275px;
    left: 200px;
    position: relative;
}

.letter-wrapper-are-e {
    top: 275px;
    left: 370px;
    position: relative;
}

.word-wrapper-not {
    top: 100px;
    left: 300px;
}

.letter-wrapper-not-n {
    top: 550px;
    left: 0px;
    position: relative;
}

.letter-wrapper-not-o {
    top: 550px;
    left: 175px;
    position: relative;
}

.letter-wrapper-not-t {
    top: 550px;
    left: 375px;
    position: relative;
}











.message-two {
background: #fff;
color:#FFF;
position: absolute;
top: -250px;
left: 0;
width: 100%;
height: 250px;
padding: 20px;
transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
overflow: hidden;
box-sizing: border-box;
  
}

#toggle-two {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;
}

#toggle-two + label {
  position:absolute;
  cursor:pointer;
  padding:10px;
  background: #000;
width: 100px;
border-radius: 3px;
padding: 8px 10px;
color: #FFF;
line-height:20px;
font-size:12px;
text-align:center;
-webkit-font-smoothing: antialiased;
cursor: pointer;
  margin:0px 0px;
  transition:all 500ms ease;
}

#toggle-two:checked ~ .message {
  top: 0;
}

#toggle-two:checked ~ .container {
  margin-top: 300px;
}

#toggle-two:checked + label {
  /*background:#dd6149;*/
  background: #fff;
}








.box-two {
    top: 500px;
    left: 150px;
}












