body {
    background: #ff0;
    font-size: 0px;
    margin: 0;
}

.wrapper {
    width: 960px;
    margin: 0 auto 0 auto;
}

.column {
    background: #000000;
    height:60px;
    display: inline-block;
    margin: 0 15px 30 15px;
    font-size: 30px;
    color: #ffffff;
}

.c1 { width: 130px; }
.c2 { width: 290px; }
.c3 { width: 450px; }
.c4 { width: 610px; }
.c5 { width: 770px; }
.c6 { width: 930px; }

.header {
    background: #f00;
    font-size: 50px;
}

.content {
    background: #0f0;
}

.footer {
    background: #00f;
    font-size: 50px;
}