body {
    margin: 0;
    font-size: 0px;
    color: #fff;
    font-family: arial, helvetica, sans-serif;
    font-weight: 100;
    background: url(images/background3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box {
    width: 30px;
    height: 30px;
    display: inline-block;
    color: #fff;
    text-align: center;
    -webkit-transition: height 1.8s;
    border: 2px #f0f;
}

.one {
    top: 10px;
    left: 100;
    position: fixed;
    background-image: url("images/1.jpg");
}

.two {
    top: 10px;
    left: 131px;
    position: fixed;
    background-image: url("images/2.jpg");
}

.three {
    top: 10px;
    left: 162px;
    position: fixed;
    background-image: url("images/3.jpg");
}

.four {
    top: 10px;
    left: 193px;
    position: fixed;
    background-image: url("images/4.jpg");
}

.five {
    top: 10px;
    left: 224px;
    position: fixed;
    background-image: url("images/5.jpg");
}

.six {
    top: 10px;
    left: 255px;
    position: fixed;
    background-image: url("images/6.jpg");
}

.seven {
    top: 10px;
    left: 286px;
    position: fixed;
    background-image: url("images/7.jpg");
}

.eight {
    top: 10px;
    left: 317px;
    position: fixed;
    background-image: url("images/8.jpg");
}

.nine {
    top: 10px;
    left: 348px;
    position: fixed;
    background-image: url("images/9.jpg");
}

.ten {
    top: 10px;
    left: 379px;
    position: fixed;
    background-image: url("images/10.jpg");
}

.eleven {
    top: 10px;
    left: 410px;
    position: fixed;
    background-image: url("images/11.jpg");
}

.twelve {
    top: 10px;
    left: 441px;
    position: fixed;
    background-image: url("images/12.jpg");
}

.thirteen {
    top: 10px;
    left: 472px;
    position: fixed;
    background-image: url("images/13.jpg");
}

.fourteen {
    top: 10px;
    left: 503px;
    position: fixed;
    background-image: url("images/14.jpg");
}

.fifteen {
    top: 10px;
    left: 534px;
    position: fixed;
    background-image: url("images/15.jpg");
}

.sixteen {
    top: 10px;
    left: 565px;
    position: fixed;
    background-image: url("images/16.jpg");
}

.seventeen {
    top: 10px;
    left: 596px;
    position: fixed;
    background-image: url("images/17.jpg");
}

div:hover{
    height: 650px;
    border-bottom: 1px solid #fff;
}




    
    
    /*static: does not take into account margin settings*/
    /*absolute: takes it out of the flow of the document; does not move with scroll bar, "absolute" positioning*/
    /*relative: to the browser window; not the scroll bar; stays within the flow of the document, adjusting from where it would be normally*/
    /*fixed: takes it out of the flow of the document; "pinned"*/
}

/*.c1 { width: 130px; }*/
/*.c2 { width: 290px; }*/
/*.c3 { width: 450px; }*/
/*.c4 { width: 610px; }*/
/*.c5 { width: 770px; }*/
/*.c6 { width: 930px; }*/
